*{
    padding: 0px;
    margin: 0px;
box-sizing: border-box;

}




 .section1 {

    background-image : url(blue_bg.png);
    background-repeat: no-repeat;
    background-position: center;

    /* height: 1000px;
    width: 1580px; */
    background-size: cover;

   
}
 .div1 a {
margin: 10px;
text-decoration: none;

}
.div1 img {
    margin-top: 20px;
    
    
    }

.div1  button  {
margin-left: 1450px;
padding: 4px;

border-radius: 10px;
}

.scetion2  {
    height: 100px;
    width: 800px;
display: flex; 


}
.div2{
    /* margin-left: 500px; */
    justify-content: space-between;
    margin-top: 0px;
    margin-left: 20px;
} 

.div2 h1 {
    font-size: 50px;
 margin-left: 20px;
}

.div2 h3{
    margin-left: 20px;
    font-size: 30px;
}

.div2 img {
   position: relative;
 position: absolute;

}
.div3 img {
margin-top: 0px;
    margin-left: 400px;
   z-index: 1;

}
.div4 img {
margin-top: 30px;
    margin-left: 500px;
   z-index: 1;
}
.div5 img {
    margin-left: 450px;
margin-top: 230px;
z-index:1 ;
}
.section3 {
display: flex;
margin-top: 300px;
margin-left: 100px;
margin-right: 550px;
justify-content: space-between;
}
.divv1{
margin-left: 20px;

}

.divv2 {
margin-top: 150px;
margin-right:80px ;
}
.divv2 h1{
font-size: 25px;
}
.divv2 h3{
    font-size: 20px;
    }
.divv1 h1 {
font-size: 25px;
}
.divv1 h3 {
    font-size: 20px;
    
}
.section4 {
display: flex;


}

.divvv1{
margin-left: 120px;
display: flex;
justify-content: center;
align-items: center;
position: relative;
}
.divvv1 img {
   
position: absolute;
width:300px;
height: 200px;
z-index:-1 ;

}
.divvv1 h1 {
font-size: 40px;
margin-top: 10px;
 color: white;
margin-right: 80px;

}
.divvv1 h3 {
  
    color: white;
    font-size: 20px;
 margin-left: 70px;
 margin-bottom: 80px;
}



.divvv2 {
margin-left: 550px;


}
.divvv2 h1 {
    font-size: 25px;
   
    }
    .divvv2 h3 {
        font-size: 20px;
      
    }
   .section5{
    margin-top: 200px;
display: flex;
justify-content: space-around;
   }
.divvvv2 h1{
font-size: 25px;

}
.divvvv2 h3 {

    font-size: 20px;

}
.section6{
position: relative;

}
.section6{
position: absolute;
}



.divvvvv1 img {
   
    margin-left: 700px;
   
}
.divvvvv2{
display: flex;
border: 2px solid white;
padding: 5px;
border-radius: 15px;
width: 150px;
background-color: aliceblue;
margin-left: 50px;
margin-top: 0px;

}
.divvvvv3{
    
    display: flex;
    border: 2px solid white;
    width: 150px;
    background-color: aliceblue;
margin-left: 250px;
margin-top: 0px;
padding: 5px;
border-radius: 15px;
}
.divvvvv2 h1{
  font-size: 15px;
}
.divvvvv3 h1{
    font-size: 15px;
  }
  .div11 a {
    margin: 10px;
    text-decoration: none;
    font-size: 20px;
    color: aliceblue;
    margin-left: 50px;
    }